@()(implicit request: Request[AnyContent])
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Twitter Mongo Streaming</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="//cdn.jsdelivr.net/jsrender/1.0pre35/jsrender.min.js"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/speed.js")'></script>
        <script src='@routes.Assets.at("javascripts/pie_chart.js")'></script>
        <script src='@routes.Assets.at("javascripts/data.js")'></script>

    </head>
    <body>


        <div class="container-narrow">
            <div class="row">
                <div class="col-md-4">
                    <div id="speed_chart_div" style="width: 200px; height: 250px;"></div>
                </div>

                <div class="col-md-8">
                    <div id="pie_chart_div" style="width: 600px; height: 300px;"></div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    @*<form class="form-search">*@
                        <span class="col-md-6">
                            <input type="text" id="keywordsInput" placeholder="Введите текст для поиска..." size="50"/>
                        </span>
                        <span class="col-md-4">
                            <button id="runKeywordsButton" class="btn btn-large btn-success">Stream</button>
                            <button id="stopButton" class="btn btn-large btn-danger">Stop</button>
                        </span>

                    @*</form>*@
                </div>
            </div>

            <hr>

            <div class="row-fluid">
                <ul id="list">
                    <script id="tweetTemplate" type="text/x-jsrender">
                        <li>
                            <div class="media">
                                {{if grade == 0 }}
                                   <div class="tweet media-body text-danger">
                                    {{>text}}
                                   </div>
                                {{else grade == 1}}
                                    <div class="tweet media-body text-info" >
                                        {{>text}}
                                    </div>
                                {{else}}
                                    <div class="tweet media-body text-success">
                                        {{>text}}
                                    </div>
                                {{/if}}
                            </div>
                        </li>
                    </script>
                </ul>
            </div>

            <hr>

            <script type="text/javascript">

            var cometMessage = function(event) {
            console.log('message:' + event);
            var tweet = event;
            if (tweet) {
                if (tweetTime < 0)
                    tweetTime = Date.now();
                else {
                    updateSpeed(1000 / (Date.now() - tweetTime));
                    tweetTime = Date.now();
                }
                updatePieChart(tweet.grade);
                $('#list').prepend($("#tweetTemplate").render(tweet));
            }
            }

            $(document).ready(function(){
            $('#runKeywordsButton').click(function(){
            var keywords = $('#keywordsInput').val();
            $('#commetIframe').remove();
            $('body').append('<iframe width="700" scrolling="no" height="400" frameborder="0" seamless="seamless" id="commetIframe" src="@routes.Application.watch("").absoluteURL()' + keywords + '"></iframe>');
            return false;
            });

            });

            </script>

        </div> <!-- /container -->

    </body>
</html>
