@(loginForm: play.api.data.Form[(String,String)], errorMsg: Option[String] = None)(implicit request: play.api.mvc.RequestHeader)

@import securesocial.core.Registry
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword


@template.main("Login page") {
    <link href="@routes.Assets.at("stylesheets/signin.css")" rel="stylesheet">


    <div class="container">

        <div class="form-signin">
            <h3 class="form-signin-heading">Авторизация</h3>
            @defining( Registry.providers.all.values.filter( _.id != UsernamePassword) ) { externalProviders =>
                @Registry.providers.get(UsernamePassword).map { up =>
                    @provider("userpass", Some(loginForm))(request)
                }
            }
            <br/>
            <br/>

            @errorMsg.map { msg =>
                <div class="alert alert-danger">
                    @Messages(msg)
                </div>
            }

            @request.flash.get("success").map { msg =>
                <div class="alert alert-success">
                    @msg
                </div>
            }

            @request.flash.get("error").map { msg =>
                <div class="alert alert-danger">
                    @msg
                </div>
            }

        </div>

    </div> <!-- /container -->

}