body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

#speed_chart_div {
    margin-top: 50px;
    font-size: 8pt;
}


#keywordsInput {
    width : auto;
    height: 40px;
}

.tweet {
    margin-top: 20px;
}

